.bike__bg {
  padding-top: 120px;
  padding-bottom: 60px;
}

#bikes .header__nav li:nth-child(1) a::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: var(--color-0);
  transition: 0.3s ease;
  position: absolute;
}

.bikes__card__img span {
  color: var(--color-0);
}

.bikes__card__content p {
  color: var(--color-8);
}

.bike__bg-2 {
  background: var(--color-11);
}

.bike__bg-2 h2 {
  color: var(--color-0);
}

.bike__bg-2 p {
  color: var(--color-5);
}
