.section__bike {
  padding-top: 60px;
  padding-bottom: 120px;
}

.section__bike h1 {
  margin-bottom: 40px;
}

.bike__list__info {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.bike__list__info li {
  min-width: 280px;
}

.bike__list__info h3 {
  color: var(--color-11);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bike__list__info h3::before {
  content: "";
  width: 12px;
  height: 8px;
  background: var(--primary-1);
  display: inline-block;
  margin-right: 8px;
  transition: 0.3s ease;
}

.bike__list__info a:hover h3::before {
  width: 24px;
}

.bike__list__info p {
  color: var(--color-8);
  padding-left: 20px;
}

.bike__list__info img {
  margin-bottom: 16px;
}

@media (max-width: 800px) {
  .section__bike {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .bike__list__info {
    gap: 20px;
  }
}
