#budget {
  background: linear-gradient(var(--color-11) 600px, var(--color-1) 0px);
}

.budget {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.budget h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.budget h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: var(--primary-1);
  position: absolute;
  left: -12px;
}

.budget__product,
.budget__data {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.budget__product {
  border-radius: 4px 0 0 4px;
  background: var(--color-12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}

.budget__product > * {
  grid-column: 1/-1;
}

.budget__product label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--color-4);
  background: var(--color-10);
}

.budget__product h2 {
  color: var(--color-5);
}

.budget__data {
  border-radius: 0 4px 4px 0;
  background: var(--color-0);
}

.budget__data h2 {
  color: var(--color-9);
}

.budget__data label {
  color: var(--color-12);
}
