body {
  box-sizing: border-box;
  color: var(--color-11);
}

figcaption {
  display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main__title {
  background: var(--color-11);
  color: var(--color-0);
  padding: 60px 0;
  box-sizing: border-box;
}

.main__title h3 {
  color: var(--color-5);
  text-transform: uppercase;
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .main__title {
    padding: 40px 0;
  }
  .main__title h3 {
    font-size: 1rem;
  }
}
