body {
  box-sizing: border-box;
  color: var(--color-11);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
